.container {
    margin: 0 auto;
    width: 400px;
    padding: 25px 40px;
    color: black;
}

h1 {
    text-align: center;
}

label {
    color: gray;
}

.form-container {
    width: 100%;
}

.full {
    text-transform: uppercase;
}

input.valid:not([type=submit]):not([type=button]):not([type=radio]):not([type=checkbox]):not([type=file]):focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(33, 106, 25, 0.5);
    border-color: green;
}

input.valid:not([type=submit]):not([type=button]):not([type=radio]):not([type=checkbox]):not([type=file]) {
    outline: 0;
    box-shadow: 0 0 0 3px rgb(33, 106, 25, 0.5);
    border-color: green;
}