a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
}

a:hover {
    font-weight: bolder;
}

.menu-items {
    background-color: rgb(136, 103, 103);
    position: absolute;
    top: 70px;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 30%;
    transform: translate(150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    z-index: 10;
}

.menu-items li {
    list-style: none;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
}

.menu-items.active {
    transform: translateX(0);
}

@media (max-width: 768px) {
    .menu-items {
        width: 100%;
    }
}