body {
  min-width: 320px;
  min-height: 100vh;
}

.flex {
  display: flex;
  gap: 20px;
  align-items: center;
}

.image {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

img {
  width: 200px;
  height: 200px;
}

h1 {
  font-size: 24px;
}

button {
  border-radius: 8px;
  border: none;
  padding: 5px;
  font-size: 18px;
  background-color: #ea7f7f;
  cursor: pointer;
}
